<div class="container">
  <div class="title no-select">
    <h1>Phonebook <span>API</span> Homepage</h1>
    <h3>Welcome to the API RESTful service for the Phonebook</h3>
  </div>

  <div>
    Here you can find the endpoints for the Phonebook API service. Feel free to
    use them!
  </div>

  <div class="button-grid no-select">
    <div class="button-group">
      <div>About Phonebook</div>
      <button class="info" onclick="window.location.href = '/info'">
        GET <span id="endpoint">/info</span>
      </button>
    </div>

    <div class="button-group">
      <div>Get all persons</div>
      <button onclick="window.location.href = '/api/persons'">
        GET <span id="endpoint">/api/persons</span>
      </button>
    </div>

    <div class="button-group">
      <div>Get a person by ID</div>
      <button onclick="window.location.href = '/api/persons/1'">
        GET <span id="endpoint">/api/persons/:id</span>
      </button>
    </div>

    <div class="button-group">
      <div>Create a new person</div>
      <button onclick="window.location.href = '/api/persons'">
        POST <span id="endpoint">/api/persons</span>
      </button>
    </div>

    <div class="button-group">
      <div>Delete a person by ID</div>
      <button onclick="window.location.href = '/api/persons/1'">
        DELETE <span id="endpoint">/api/persons/:id</span>
      </button>
    </div>

    <div class="button-group">
      <div>Update a person by ID</div>
      <button onclick="window.location.href = '/api/persons/1'">
        PUT <span id="endpoint">/api/persons/:id</span>
      </button>
    </div>
  </div>
</div>
