<div class="title no-select">
  <h1>Phonebook <span>Info</span></h1>
  <h3>All about our Phonebook Service</h3>
</div>
<p class="no-select">
  At this moment, our Phonebook Service has information about <br />
  <a href="/api/persons"><span id="numPeople"><%= numPeople %> people</span></a>
</p>
<p class="no-select">
  Last request <br />
  <span id="lastRequest"><%= new Date() %></span>
</p>
